@import url(simple-grid.css);
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 44px;
  padding-bottom: 83px; }
  .header__logo-akad {
    display: inline-block;
    cursor: pointer;
    opacity: .5; }
    .header__logo-akad:hover {
      opacity: .9; }
  .header__logo-lines {
    margin-left: calc(100% - 93px);
    display: inline-block;
    cursor: pointer;
    opacity: .5; }
    .header__logo-lines:hover {
      opacity: .9; }
  .header__heading-one {
    text-align: center;
    text-transform: uppercase;
    color: #60606e;
    padding-top: 102.5px;
    margin-bottom: 0;
    padding-bottom: 0; }
  .header__heading-six {
    text-align: center;
    text-transform: uppercase;
    color: #60606e;
    margin-top: 15px;
    padding-top: 0;
    padding-bottom: 83.5px; }

.section-one__heading-two {
  font-size: 30px;
  margin-top: 70.5px;
  margin-bottom: 0;
  color: #60606e;
  text-transform: uppercase;
  background-image: url(../images/green.png);
  background-repeat: no-repeat;
  background-position: 0% 90%; }

.section-one__heading-six {
  font-size: 14px;
  margin-top: 10.5px;
  margin-bottom: 15px;
  color: #60606e;
  text-transform: uppercase; }

.section-one__paragraph {
  font-size: 14px;
  text-align: left;
  color: #60606e; }

.section-two__heading-two {
  font-size: 30px;
  text-align: center;
  margin-top: 83.5px;
  margin-bottom: 0;
  color: #60606e;
  text-transform: uppercase;
  background-image: url(../images/green.png);
  background-repeat: no-repeat;
  background-position: 37% 90%; }

.section-two__paragraph {
  font-size: 14px;
  color: #60606e;
  text-align: center;
  margin-bottom: 50px; }

.section-three__small-picture {
  vertical-align: top;
  display: inline-block; }

.section-three__heading-four {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 0;
  vertical-align: bottom;
  padding-left: 5px;
  display: inline-block;
  padding-bottom: 0;
  margin-bottom: 6px; }

.section-three__paragraph {
  font-size: 14px;
  color: #60606e;
  text-align: left;
  padding-top: 0;
  margin-top: 6px; }

.section-four__heading-two {
  font-size: 30px;
  text-align: center;
  margin-top: 75.5px;
  margin-bottom: 10px;
  color: #60606e;
  text-transform: uppercase;
  background-image: url(../images/green.png);
  background-repeat: no-repeat;
  background-position: 33.3% 90%; }

.section-four__paragraph {
  font-size: 14px;
  color: #60606e;
  text-align: center;
  margin-bottom: 50.1px; }

.section-five__images {
  width: 100%;
  padding-right: 0;
  padding-left: 0; }

.footer {
  margin-top: 15px;
  background-color: #7beec7; }
  .footer__first-box {
    width: 500px;
    margin-top: 14px; }
  .footer__first-box-heading {
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold; }
  .footer__first-box-button {
    width: 165px;
    height: 47px;
    color: #7beec7;
    background-color: #ffffff;
    outline: none;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px; }
    .footer__first-box-button:hover {
      color: #000000; }
  .footer__second-box {
    width: 539px;
    margin-top: 45px;
    margin-bottom: 48px;
    background-color: #ffffff; }
  .footer__second-box-heading {
    margin: 0;
    font-size: 26px;
    padding: 20px;
    padding-bottom: 0;
    text-align: left;
    text-transform: uppercase;
    color: #60606e;
    font-weight: bold; }
  .footer__second-box-paragraph {
    margin: 0;
    padding: 20px;
    text-align: left;
    color: #60606e; }
  .footer__second-box-form {
    padding: 20px; }
  .footer__second-box-email {
    width: 350px;
    height: 50px;
    color: #60606e;
    padding-left: 20px;
    border: 1px solid #d6d7d8;
    border-right: none;
    outline: none; }
  .footer__second-box-button {
    width: 140px;
    height: 50px;
    color: #ffffff;
    background-color: #7beec7;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    border: none; }
    .footer__second-box-button:hover {
      color: #000000; }
