*, *:before, *:after {
	box-sizing: border-box;
}

.header {
	background-image: url("../images/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 44px;
}

.header {
	&__logo--image {
		width: 100%;
		margin: 0 auto;
	}

	&__heading--one {
		text-align: center;
		text-transform: uppercase;
		color: #60606e;
		padding-top: 102.5px;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	&__heading--six{
		text-align: center;
		text-transform: uppercase;
		color: #60606e;
		padding-bottom: 83.5px;
		padding-top: 0;
		margin-top: 0;
	}
}



.aside {
	&__section-one {
		width: 1075px;
		margin: 0 auto;
	}

	&__section-one-box-one {
		width: 520px;
		display: inline-block;
		margin-right: 15px;
		margin-top: 75px;
	}

	&__section-one-box-two {
		width: 520px;
		display: inline-block;
		margin-left: 15px;
		margin-top: 75px;
	}

	&__section-one--heading-two {
		font-size: 30px;
		margin-bottom: 0;
		color: #60606e;
		text-transform: uppercase;
		background-image: url(../images/green.png);
		background-repeat: no-repeat;
		background-position: 0% 90%;
	}

	&__section-one--heading-six {
		font-size: 14px;
		margin-top: 10.5px;
		margin-bottom: 15px;
		color: #60606e;
		text-transform: uppercase;
	}

	&__section-one-paragraph {
		font-size: 14px;
		text-align: left;
		color: #60606e;
	}

	&__section-two {
		width: 650px;
		margin: 0 auto;
	}

	&__section-two--heading-two {
		font-size: 30px;
		text-align: center;
		margin-top: 83.5px;
		margin-bottom: 0;
		color: #60606e;
		text-transform: uppercase;
		background-image: url(../images/green.png);
		background-repeat: no-repeat;
		background-position: 37% 90%;
	}

	&__section-two--paragraph {
		font-size: 14px;
		color: #60606e;
		text-align: center;
	}

    &__section-three{
    	width: 1075px;
    }
    
    &__section-three--box {
    	width: 356px;
    	display: inline-block;
    	padding-right: 15px;
    	padding-left: 15px;
    	margin-top: 50px;
    }

    &__section-three--label {
    	font-size: 20px;
    	font-weight: bold;
    	text-transform: uppercase;
		line-height: 40px;
		padding-left:5px;
		vertical-align: top;
    }

    &__section-three-paragraph {
    	font-size: 14px;
		color: #60606e;
		text-align: left;
    }
}

.main {
	&__description {
		margin: 0 auto;
	}

    &__description {
    	width: 650px;
		margin: 0 auto;
    }

	&__heading {
		font-size: 30px;
		text-align: center;
		margin-top: 85px;
		margin-bottom: 0;
		color: #60606e;
		text-transform: uppercase;
		background-image: url(../images/green.png);
		background-repeat: no-repeat;
		background-position: 33.3% 90%;
	}

	&__paragraph {
		font-size: 14px;
		color: #60606e;
		text-align: center;
		padding-bottom: 50px;
	}
    
    &__img-grid {
    	padding-bottom: 15px;
    }

    &__img-grid-image {
    	width: 265px;
    	padding-right: 10px;
    	padding-left: 10px;
    	padding-top: 10px;
    }
}

.footer {
	background-color: #7beec7;
	&__first-box {
		width: 500px;
		vertical-align: top;
		display: inline-block;
		margin-top: 14px;
	}

	&__first-box-headig-three {
		text-align: left;
		text-transform: uppercase;
		color: #ffffff;
		font-weight: bold;
	}

	&__first-box-button {
		width: 165px;
		height: 47px;
		color: #7beec7;
		background-color: #ffffff;
		outline: none;
		border: none;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 15px;
		&:hover {
			color: #000000;
		}
	}

	&__second-box {
		width: 539px;
		margin-top: 45px;
		margin-bottom: 48px;
		vertical-align: top;
		background-color: #ffffff;
		display: inline-block;
	}

	&__second-box-heading-three {
		margin: 0;
		font-size: 26px;
		padding: 20px;
		padding-bottom: 0;
		text-align: left;
		text-transform: uppercase;
		color: #60606e;
		font-weight: bold;
	}

	&__second-box-paragraph {
		margin: 0;
		padding: 20px;
		text-align: left;
		color: #60606e;
	}
    
    &__second-box-form {
    	padding: 20px;
    }

	&__second-box-input {
		width: 350px;
		height: 50px;
		color: #60606e;
		padding-left: 20px;
		border: 1px solid #d6d7d8;
		border-right: none;
		outline: none; 
	}

	&__second-box-label {
		width: 140px;
		height: 50px;
		color: #ffffff;
		background-color: #7beec7;
		font-weight: bold;
		text-transform: uppercase;
		outline: none; 
		border: none;
		&:hover {
			color: #000000;
		}
	}
}